@import "normalize.css";
@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: #000;
}
img{
  max-width: 100%;
}
input,
button,
button:focus{
  outline: none;
  box-shadow: none !important;
}
a:hover{
  text-decoration: none;
}
.header{
  margin-bottom: 30px;
}
.header-top{
  padding: 17px 0;
  border-bottom: 1px solid rgb(0 0 0 / 25%);
}
.logo{
  max-width: 155px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}
.logo img{
  margin-right: 15px;
}
.header-nav a{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 25px;
  color: #000 ;
}
.btn-red{
  background-color: rgb(219, 37, 44);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

.contact-links a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.contact-links a img{
  margin-right: 5px;
}

.contact-links div:last-child a{
  font-family: Montserrat;
}
.search-box{
  width: 80%;
}
.search-box input{
  width: 94%;
  border: 1px solid rgb(0, 0, 0);
  padding: 17px 15px;
  margin: 0;
  border-right: none;
  
}
.search-box button{
  border: 1px solid rgb(0, 0, 0);
  background: rgb(219, 37, 44);
  padding: 17px 20.48px;
  margin-left: -4px;
  border-radius: 0;
  vertical-align: top;
}
.btn-box a{
  position: relative;
  padding: 20px 18px;
  border: 1px solid rgb(0, 0, 0);
  width: 60px;
  height: 60px;
}
.btn-box a:last-child{
  border-left: none;
}
.btn-box a:first-child{
  border-right: none;
}
.btn-box a span{
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgb(219, 37, 44);
  width: 19.62px;
  height: 19.62px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 15.7px;
  color: #fff;
}
section{
  padding: 60px 0;
}
.section-banner{
  padding: 145px 0 170px;
  background-size: cover;
}
.banner-title{
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
  max-width: 750px;
}
.section-desc{
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  max-width: 475px;
  color: #fff;
  margin: 30px 0 60px;
}

.banner-links a{
  background-color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  padding: 20px 25px 20px 25px;
  margin-right: 30px;
}
.banner-links button{
  background-color: #DB252C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  padding: 20px 25px 20px 25px;
}
.h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 30px;
  text-align: center;
}
.catalog-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 15px;
}
.catalog-box{
  background: rgb(234, 234, 234);
  padding: 30px;
}
.fs-25{
  font-size: 25px;
  line-height: 30px;
}
.section-consultation{
  background: rgb(42, 46, 54);
}
.btn-p{
  padding: 20px 10px;
}
.btn{
  border-radius: 0;
}

.p-100{
  padding: 0 100px;
}
.advantages-box{
  margin-bottom: 60px;
  font-size: 15px;
}

.advantages-box__img{
  min-width: 40px;
}
.advantages-box__title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.mini-desc{
  font-size: 16px;
  color: #00000040;
}

.section-partners a{
  font-size: 18px;
  font-weight: 500;
  background: rgb(42, 46, 54);
  padding: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.section-partners{
  background: linear-gradient(to left, #2a2e36 50%, #eaeaea 50%);
}
.input{
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  padding: 17px 30px;
  background-color: transparent;
  margin-bottom: 16px;
  color: #fff;
  outline: none;
}
select{
  appearance: none;
  background: url("../img/icon-arrow.svg") no-repeat right;
  background-position-x: calc(100% - 42px);
}
.input::placeholder {
  color: #fff;
}
.section-partners button{
  padding: 20px 70px;
  font-size: 18px;
  font-weight: 500;
}

.materials-box a{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  display: block;
  text-decoration: underline;
  color: #000;
  padding: 19px 15px;
}

.materials-box a img{
  margin-right: 30px;
}
.section-request{
  background-color: #eaeaea;
}
.section-request input{
  color: #00000060;
  border: 1px solid #000;
}
.section-request input::placeholder{
  color: #00000060;
}
.section-request button{
  padding: 20px 70px;
}
.section-link{
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  color: #000;
}
.news-box{
  height: 100%;
}
.news-box a{
  display: block;
  position: relative;
  height: 100%;
}
.news-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-box__desc{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  display: grid;
  align-items: end;
  padding: 15px 30px;
}
.footer{
  background-color: #000;
  padding: 30px 0 60px;
}
.footer-link{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 30px;
}
.footer .btn-box {
  padding-left: 40px;
}
.footer .btn-box a{
  border-color:#fff;
  width: 75px;
  height: 75px;
}
.footer-text{
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding-left: 40px;
}
